<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="stylesheet" href="css/head.css">
    <link type="text/css" rel="stylesheet" href="css/foot.css">
    <link type="text/css" rel="stylesheet" href="css/dingdantianxie.css">
</head>
<body>
<%- include('header.html')%>
<main>
    <section>
        <div>
            <h2>完成购车订单</h2>
        </div>
        <div class="zhuyao">
            <div>
                <h3>选择收货地址</h3>
            </div>
            <div class="dizhiBox">
                <div>
                    <a href="dizhi.html">添加更多地址>>>></a>
                </div>
                <% for(let i = 0;i < dizhiArr.length;i++){%>
                <div class="dizhixiangxi" data-value="<%=dizhiArr[i].Id%>">
                    <div><%=dizhiArr[i].shouhuoren%></div><div><%=dizhiArr[i].dianhua%></div>
                    <div><%=dizhiArr[i].guo%><%=dizhiArr[i].shen%><%=dizhiArr[i].chen%><%=dizhiArr[i].cheng%><%=dizhiArr[i].qu%><%=dizhiArr[i].jie%></div>
                </div>
                <%}%>
                <div class="clearfloat"></div>
            </div>
            <div class="dingdanDa">
                <% for(let i = 0;i < dingdanArr.length;i++){%>
                <% var d = new Date(dingdanArr[i].CreateTime)%>
                <% var datetime=d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate() + ' ' + d.getHours() + ':' + d.getMinutes() + ':' + d.getSeconds();%>
                <div class="dingdanBox" data-value="<%=dingdanArr[i].Id%>">
                    <div>订单号：<span><%=dingdanArr[i].Id%></span></div>
                    <div>车型：<span><%=dingdanArr[i].title%></span></div>
                    <div>配置：<span><%=dingdanArr[i].peizhi%></span></div>
                    <div>价格：<span class="jiage"><%=dingdanArr[i].price%></span></div>
                    <div>订购时间：<span><%=datetime%></span></div>
                </div>
                <%}%>
            </div>
        </div>
        <% var zongJin = 0%>
        <% for(let i = 0;i < dingdanArr.length;i++){%>
        <% zongJin += dingdanArr[i].price%>
        <%}%>
        <h3>
            总金额：<span id="zongJing"><%=zongJin%></span>
        </h3>
        <div class="btnBox">
            <button id="btn">下单</button>
        </div>
    </section>
</main>
<%- include('footer.html')%>
<script src="js/jq.js"></script>
<script src="js/header.js"></script>
<script>
    $(function () {
        sessionStorage.pageName="dingDan";
        let dizhiId = $(".dizhiBox").children("div:first-child").attr("data-value");
        let dingdanObjArr = document.getElementsByClassName("dingdanBox");
        $(".dizhixiangxi")[0].className += " dizhixiangxihou";
        $(".dizhixiangxi").on("click",function () {
            $(".dizhixiangxi").removeClass("dizhixiangxihou");
            $(this).addClass("dizhixiangxihou");
            dizhiId = $(this).attr("data-value");
            console.log(dizhiId);
        });
        let dingdanIdArr =[];
        for(let i = 0 ; i < dingdanObjArr.length ; i ++){
            let theId = $(dingdanObjArr[i]).attr("data-value");
            dingdanIdArr.push(theId);
        }
        $("#btn").click(function () {
            $.ajax({
                type:"post",
                url:"xiadan.do",
                data:{dingdanIdArr:dingdanIdArr,dizhiId:dizhiId},
                traditional:true,
                success:function (data) {
                    console.log(data);
                    if(data == "OK"){
                        alert("下单成功");
                        location.href = "geren.html";
                    }
                }
            })
        })
    })
</script>
</body>
</html>